apiVersion: v1
kind: Namespace
metadata:
  name: openshift-logging
  annotations:
    openshift.io/node-selector: ""
  labels:
    openshift.io/cluster-monitoring: "true"
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: cluster-logging
  namespace: openshift-logging
  labels:
    app: cl-logging-dedalus
spec:
  targetNamespaces:
  - openshift-logging
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cluster-logging
  namespace: openshift-logging
  labels:
    app: dedalus-logging
    component: cluster-logging-operator
spec:
  channel: 'dedalus'
  installPlanApproval: Automatic
  name: cluster-logging
  source: dedalus-operators
  sourceNamespace: openshift-marketplace
  startingCSV: clusterlogging.v5.9.0
